* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

body {
    font-family: "Open Sans", sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

ul, ol, li {
        list-style: none;
    }